/*!
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Widgets
# Content
	## Archive Loops
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Customizer
# Maintenance
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: "Noto Serif", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: "Noto Serif", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding-left: 2em;
	padding-right: 2em;
}

.wrap:after {
	clear: both;
	content: "";
	display: block;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #FFF;
	background-color: #23282d;
	border: 1px solid #23282d;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #23282d;
	background-color: #FFF;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #23282d;
}

select {
	border: 1px solid #23282d;
}

textarea {
	width: 100%;
}

@media screen and (min-width: 37.5em) {
	.page-content .search-form {
		display: grid;
		grid-template-columns: auto 33%;
		grid-template-areas: "searchfield searchsubmit";
	}

	.page-content .search-form label {
		grid-area: searchfield;
	}

	.page-content .search-form label input[type="search"] {
		width: 100%;
	}

	.page-content .search-form .search-submit {
		grid-area: searchsubmit;
	}
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a, a:visited {
	outline: none;
	color: #23282d;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #767676;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.navigation-top {
	background: #fff;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	font-size: 16px;
	font-size: 1rem;
	position: relative;
}

.navigation-top .wrap {
	max-width: 1000px;
	padding: 0;
}

.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	background: #fff;
	margin: 0;
	padding: 0 1.5em;
	text-align: left;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation li {
	border-bottom: 1px solid #eee;
	position: relative;
}

.main-navigation li li,
.main-navigation li:last-child {
	border: 0;
}

.main-navigation a {
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}

.main-navigation a:hover {
	color: #767676;
}

/* Small menu. */
.menu-toggle {
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #23282d;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1.5;
	margin: 1px auto 2px;
	padding: 1em;
	text-shadow: none;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.main-navigation.toggled ul ul {
	display: block;
	box-shadow: none;
	position: static;
	float: none;
	left: auto;
	z-index: auto;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}

	.navigation-top .wrap {
		max-width: 1000px;
		padding-left: 3em;
		padding-right: 3em;
	}

	.main-navigation li {
		border: 0;
		display: inline-block;
	}

	.main-navigation ul#main-navigation > li.current_page_item > a,
	.main-navigation ul#main-navigation > li.current-menu-item > a,
	.main-navigation ul#main-navigation > li.current-menu-parent > a,
	.main-navigation ul#main-navigation > li.current_page_parent > a {
		box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	}

	.main-navigation li li {
		display: block;
	}

	.main-navigation ul#main-navigation > li > a {
		padding: 1em 1.25em;
	}

	.site-navigation-fixed.navigation-top {
		bottom: auto;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 7;
	}

	.admin-bar .site-navigation-fixed.navigation-top {
		top: 32px;
	}

	.main-navigation .nav-menu li.last {
		float: right;
		display: none;
	}

	.site-navigation-fixed .main-navigation .nav-menu li.last {
		display: block;
	}

	.site-navigation-fixed .main-navigation .nav-menu li.has-icon a {
		padding-bottom: 0.9em !important;
	}

	body.front-page .navigation-top:not(.site-navigation-fixed) .main-navigation li.menu-item-home a:after {
		content: " ⇩";
		font-weight: bold;
		color: #767676;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding: 1em 2em;
	overflow: hidden;
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.post-navigation .nav-previous:before,
.posts-navigation .nav-previous:before {
	content: "← ";
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation .nav-next:after,
.posts-navigation .nav-next:after {
	content: " →";
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Makes sure the fixed main navigation menu won't hide part of the text */
:target:before {
	z-index: 0;
	content: "";
	display: block;
	height: 75px;
	margin: -75px 0 0;
	padding: 4em;
}

#question:target:before {
	height: 0px;
	margin: 0;
	padding: 0;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

.widget-area .wrap {
	display: grid;
	grid-template-columns: auto 33% 33%;
	grid-template-areas: "left center right";
}

.left-widgets {
	grid-area: left;
}

.center-widgets {
	grid-area: center;
}

.right-widgets {
	grid-area: right;
}

.widget-column {
	margin-right: 1em;
}

.widget-column ul,
.widget-column ul > li {
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 37.5em) {
	#secondary .wrap {
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px;
		padding-left: 1em;
		padding-right: 1em;
	}

	#secondary {
		padding: 1em 0;
		border-top: solid 1px #23282d;
	}
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#masthead .wrap {
	position: relative;
}

.site-header {
	background-color: #fafafa;
	position: relative;
}

.site-header a {
	box-shadow: none;
}

/* Site branding */

.site-branding {
	padding: 1em 0;
	position: relative;
	-webkit-transition: margin-bottom 0.2s;
	transition: margin-bottom 0.2s;
	z-index: 3;
}

.site-branding a {
	text-decoration: none;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.site-branding a:hover,
.site-branding a:focus {
	opacity: 0.7;
}

.site-title {
	clear: none;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 0.08em;
	margin: 0;
	padding: 0;
}

.site-title,
.site-title a {
	color: #222;
	opacity: 1; /* Prevent opacity from changing during selective refreshes in the customize preview */
}

body.has-header-image .site-title,
body.has-header-image .site-title a {
	color: #fff;
}

.site-description {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	margin-bottom: 0;
}

body.has-header-image .site-description {
	color: #fff;
	opacity: 0.8;
}

.custom-logo-link {
	display: inline-block;
	padding-right: 1em;
	vertical-align: middle;
	width: auto;
}

.custom-logo-link img {
	display: inline-block;
	max-height: 80px;
	width: auto;
	border-radius: 50%;
	border: 2px solid #fff;
}

body.has-header-image.front-page.wp-custom-logo .custom-logo-link img,
body.has-header-image.db-error.wp-custom-logo .custom-logo-link img {
	max-height: 250px;
	border: 4px solid #fff;
}

body.has-header-image.front-page.wp-custom-logo .custom-logo-link,
body.has-header-image.front-page.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link,
body.has-header-image.home.blog.wp-custom-logo .custom-logo-link,
body.has-header-image.db-error.wp-custom-logo .custom-logo-link,
body.has-header-image.db-error.wp-custom-logo:not(.title-tagline-hidden) .site-branding-text {
	display: block;
	text-align: center;
}

.has-header-image.front-page.wp-custom-logo .site-branding,
.has-header-image.home.blog.wp-custom-logo .site-branding,
.has-header-video.home.blog.wp-custom-logo .site-branding,
.has-header-image.db-error.wp-custom-logo .site-branding {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	bottom: 5%;
}

.custom-logo-link a:hover,
.custom-logo-link a:focus {
	opacity: 0.9;
}

body:not(.title-tagline-hidden) .site-branding-text {
	display: inline-block;
	vertical-align: middle;
}

.custom-header {
	position: relative;
}

.has-header-image.front-page .custom-header,
.has-header-image.home.blog .custom-header,
.has-header-image.db-error .custom-header {
	display: table;
	height: 300px;
	height: 75vh;
	width: 100%;
}

.custom-header-media {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.custom-header-media:before {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+75 */
	background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0); /* IE6-9 */
	bottom: 0;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 2;
}

.has-header-image .custom-header-media img {
	position: fixed;
	height: auto;
	left: 50%;
	max-width: 1000%;
	min-height: 100%;
	min-width: 100%;
	min-width: 100vw; /* vw prevents 1px gap on left that 100% has */
	width: auto;
	top: 50%;
	padding-bottom: 1px; /* Prevent header from extending beyond the footer */
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.has-header-image:not(.front-page):not(.home):not(.db-error) .custom-header-media img {
	bottom: 0;
	position: absolute;
	top: auto;
	-ms-transform: translateX(-50%) translateY(0);
	-moz-transform: translateX(-50%) translateY(0);
	-webkit-transform: translateX(-50%) translateY(0);
	transform: translateX(-50%) translateY(0);
}

/* For browsers that support 'object-fit' */
@supports ( object-fit: cover ) {
	.has-header-image .custom-header-media img,
	.has-header-image:not(.front-page):not(.home):not(.db-error) .custom-header-media img {
		height: 100%;
		left: 0;
		-o-object-fit: cover;
		object-fit: cover;
		top: 0;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		width: 100%;
	}
}

/* Hides div in Customizer preview when header images or videos change. */

body:not(.has-header-image) .custom-header-media {
	display: none;
}

.has-header-image.front-page .site-branding,
.has-header-image.home.blog .site-branding,
.has-header-image.db-error .site-branding {
	display: table-cell;
	height: 100%;
	vertical-align: bottom;
}

@media screen and (min-width: 37.5em) {
	#masthead .custom-header .wrap {
		padding-left: 0;
	}

	.has-header-image.front-page .site-branding,
	.has-header-image.home.blog .site-branding,
	.has-header-image.db-error .site-branding {
		bottom: 0;
		display: block;
		left: 0;
		height: auto;
		padding-top: 0;
		position: absolute;
		width: 100%;
	}

	.has-header-image.front-page .custom-header,
	.has-header-image.home.blog .custom-header,
	.has-header-image.db-error .custom-header {
		display: block;
	}

	.has-header-image.front-page .custom-header,
	.has-header-image.home.blog .custom-header {
		height: calc(100vh - 58px);
	}

	.has-header-image.front-page.admin-bar .custom-header,
	.has-header-image.home.blog.admin-bar .custom-header,
	.has-header-image.db-error.admin-bar .custom-header {
		height: calc(100vh - 90px);
	}

	.custom-header-media {
		height: 165px;
		position: relative;
	}

	.front-page.has-header-image .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.db-error.has-header-image .custom-header-media {
		height: 0;
		position: relative;
	}

	.has-header-image:not(.front-page):not(.home):not(.db-error) .custom-header-media {
		bottom: 0;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.custom-logo-link {
		padding-right: 2em;
	}

	.site-title {
		font-size: 36px;
		font-size: 2.25rem;
	}

	.site-description {
		font-size: 16px;
		font-size: 1rem;
	}

	.front-page.has-header-image .site-branding,
	.home.blog.has-header-image .site-branding,
	.db-error.has-header-image .site-branding {
		margin-bottom: 70px;
	}

	.front-page.has-header-image .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.db-error.has-header-image .custom-header-media {
		height: 1200px;
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
	}

	.front-page.has-header-image .custom-header-media:before,
	.home.blog.has-header-image .custom-header-media:before,
	.db-error.has-header-image .custom-header-media:before {
		height: 33%;
	}

	.admin-bar.front-page.has-header-image .custom-header-media,
	.admin-bar.home.blog.has-header-image .custom-header-media,
	.db-error.has-header-image .custom-header-media {
		height: calc(100vh - 32px);
	}
}

/*--------------------------------------------------------------
## Regular content
--------------------------------------------------------------*/

.site-content {
	background-color: #fff;
	position: relative;
	font-size: 16px;
    line-height: 1.8;
}

.site-content {
	padding: 1.5em 0 0;
}

#db-error-message {
	text-align: center;
	padding-top: 0;
	margin-top: 0;
}

.site-content a, .site-content a:visited {
	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
}

.site-footer {
	margin-top: 2.5em;
	padding-bottom: 1.5em;
	border-top: solid 1px #eee;
}

.social-navigation {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 1em;
}

.social-navigation ul {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}

.social-navigation li {
	display: inline-block;
	margin: 0 1em;
}

.social-navigation li a {
	text-decoration: none;
	box-shadow: none;
}

.social-navigation svg {
	vertical-align: middle;
}

.social-navigation ul {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

@media screen and (min-width: 37.5em) {
	.site-footer .wrap {
		padding: 1em 5.75em;
		max-width: 1000px;
		display: grid;
		grid-template-columns: 25% auto;
		grid-template-areas: "social info";
	}

	.site-footer .site-info {
		grid-area: info;
	}

	.social-navigation {
		grid-area: social;
		overflow: hidden;
	}

	.social-navigation ul {
		text-align: left;
		padding-right: 1.5em;
	}

	.social-navigation ul li {
		margin: 0;
		margin-right: 1em;
	}
}

/*--------------------------------------------------------------
## Front Page hero sections
--------------------------------------------------------------*/

body.front-page article.theme-hero:nth-child(even) {
	background-color: #23282d;
	color: #FFF;
	padding: 1.5em 0;
}

body.front-page article.theme-hero .entry-header {
	text-align: center;
}

body.front-page article.theme-hero:nth-child(even) .hero-content a,
body.front-page article.theme-hero:nth-child(even) .hero-content a:hover {
	color: #FFF;
	box-shadow: inset 0 -1px 0 rgba(250, 250, 250, 1);
}

body.front-page article.theme-hero:nth-child(odd) .has-2-columns p {
	display: none;
}

@media screen and (min-width: 37.5em) {
	body.front-page article.theme-hero.has-post-thumbnail .wrap {
		display: grid;
		grid-template-columns: 25% auto;
		grid-template-areas: "hero-image hero-content";
	}

	body.front-page article.theme-hero.has-post-thumbnail .hero-image {
		grid-area: hero-image;
		align-self: center;
	}

	body.front-page article.theme-hero.has-post-thumbnail .post-thumbnail.hero {
		padding: 0 1em 0 0;
		height: 100%;
	}

	body.front-page article.theme-hero.has-post-thumbnail .post-thumbnail.hero img {
		padding-top: 1em;
	}

	body.front-page article.theme-hero.has-post-thumbnail .hero-content {
		grid-area: hero-content;
		overflow: hidden;
	}

	body.front-page article.theme-hero.has-post-thumbnail .entry-header {
		text-align: left;
	}

	body.front-page article.theme-hero:nth-child(odd) .has-2-columns p {
		display: block;
	}
}

/*--------------------------------------------------------------
## Archive Loops
--------------------------------------------------------------*/
body.archive .page-header {
	padding: 1em 0;
	border-bottom: solid 1px #23282d;
}

body.tag-tuttogut .page-header {
	background-color: #044f51;
	color: #FFF;
	text-align: center;
}

body.tag .tag-header-logo  {
	max-width: 200px;
	height: auto;
	display: block;
	margin: 0 auto;
}

body.tag .tag-rss-header {
	box-shadow: inset 0 -1px 0 #FFF;
}

body.tag .tag-rss-header svg path {
	fill: #FFF;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-content p,
.entry-content p,
.entry-summary p {
	text-align: left;
}

.entry-summary p {
	margin: 1.5em auto;
	max-width: 740px;
}

.entry-content a.more-link {
	display: block;
	margin: 1.5em auto;
	padding-right: 20px;
	padding-left: 20px;
	box-shadow: none!important;
	text-decoration: underline;
	text-underline-position: under;
}

.entry-content a.more-link:after {
	content: " →";
}

@media screen and (min-width: 37.5em) {
	.entry-content a.more-link {
		max-width: 740px;
		padding-right: 0;
		padding-left: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content .post-thumbnail {
	display: block;
	max-width: 1000px;
	padding: 0 2em;
	margin: 1em auto 0;
	box-shadow: none;
}

body.page.entrepot .post-thumbnail {
	display: none;
}

.site-content .post-thumbnail img {
	display: block;
	margin: 0 auto;
}

body.front-page .site-content article:not(.theme-hero) .post-thumbnail.has-srcset{
	display: none;
}

.site-content .post-thumbnail-overlay {
	text-align: center;
}

.entry-footer .cat-links,
.entry-footer .tags-links,
.entry-footer .comments-link,
.entry-footer .edit-link {
	display: inline-block;
	margin-right: 0.5em;
}

.sticky .entry-header .wrap {
	border-left: solid 4px #23282d;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

ol.comment-list,
ol.comment-list ol {
	margin: 0;
	list-style: none;
	padding-left: 0;
}

ol.comment-list li{
	margin-left: 0;
	padding-left: 0;
	margin-top: 1.8em;
}

.comment-author {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 0.4em;
	position: relative;
	z-index: 2;
}

.comment-author .avatar {
	height: 50px;
	left: -65px;
	position: absolute;
	width: 50px;
	border-radius: 50%;
}

.comment-author .says {
	display: none;
}

.comment-metadata > a {
	box-shadow: none;
}

p.comment-awaiting-moderation {
	font-style: italic;
	background-color: #eee;
	padding-left: 0.4em;
	padding-right: 0.4em;
}

:target > .comment-body {
	border-left: 4px solid #044f51;
	padding-left: 70px;
}

/*--------------------------------------------------------------
## Comment form
--------------------------------------------------------------*/
#respond {
	margin-top: 48px;
	margin-top: 3.428571429rem;
}

#respond h3#reply-title {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
}

#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.714285714rem;
	font-weight: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
}

#respond form {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}

#respond form p {
	margin: 11px 0;
	margin: 0.785714286rem 0;
}

#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

#respond form label {
	display: block;
	line-height: 1.714285714;
}

#respond form input[type="text"],
#respond form input[type="email"],
#respond form input[type="url"],
#respond form textarea {
	width: 100%;
}

#respond form input[type="checkbox"] {
	margin-right: 1em;
}

#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #5e5e5e;
}

.required {
	color: red;
}

#respond a.comment-rss-link {
	text-decoration: none;
	box-shadow: none;
}

#respond a.comment-rss-link svg {
	vertical-align: text-top;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin: 1.5em auto;
	max-width: 740px !important;
	padding-left: 20px;
	padding-right: 20px;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Customizer
--------------------------------------------------------------*/

.highlight-front-sections.theme-customizer.front-page .theme-hero:after {
	border: 2px dashed #0085ba; /* Matches visible edit shortcuts. */
	bottom: 1em;
	content: "";
	display: block;
	left: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 1;
}

.highlight-front-sections.theme-customizer.front-page .theme-hero .hero-content {
	z-index: 2; /* Prevent :after from preventing interactions within the section */
}

/* Used for placeholder text */
.theme-customizer.front-page .theme-hero .theme-hero-title {
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 3em;
	text-transform: uppercase;
	text-align: center;
}

/* Show borders on the custom page panels only when the front page sections are being edited */
.highlight-front-sections.theme-customizer.front-page .theme-hero:nth-of-type(1):after {
	border: none;
}

.theme-customizer.front-page #primary article.hero-placeholder {
	border: 0;
}

/* Add some space around the visual edit shortcut buttons. */
.theme-hero > .customize-partial-edit-shortcut > button {
	top: 30px;
	left: 30px;
}

/* Ensure that placeholder icons are visible. */
.theme-hero .customize-partial-edit-shortcut-hidden:before {
	visibility: visible;
}

/*--------------------------------------------------------------
# Maintenance
--------------------------------------------------------------*/

#maintenance-mode {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 4;
}

#maintenance-mode .on,
#maintenance-mode .off {
	color: #fff;
	width: 40px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;
	line-height: 1em !important;
	-webkit-box-shadow: 0 2px 1px rgba(46,68,83,0.15);
	box-shadow: 0 2px 1px rgba(46,68,83,0.15);
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid #fff;
	padding: 9px 8px;
	margin: 0;
	background-color: #F38F19;
}

#maintenance-mode .off {
	background-color: rgb(112, 192, 65);
}

#maintenance-mode svg {
	min-width: 20px;
	min-height: 20px;
	width: 20px;
	height: 20px;
	margin: auto;
}

.maintenance-template-default .navigation-top {
	bottom: 0;
}

.maintenance-template-default .navigation-top h1 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-left: 20%;
	width: 80%;
	float: left;
	text-align: center;
}

.maintenance-template-default #site-navigation .login-link {
	top: 0.25em;
	display: block;
	padding: 1em;
	position: absolute;
	right: 0;
}

.maintenance-template-default #site-navigation .login-link .icon {
	vertical-align: top;
}

.js .maintenance-template-default .menu-toggle {
	display: none;
}
